* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Pen Script', cursive;
  line-height: 1.5;
  background: rgb(255, 239, 186);
  background: linear-gradient(68deg, #041926 16%, #27373F 100%);
}

:root {
  --paleGreen: rgb(182, 215, 185);
  --background: rgb(255, 239, 186);
}

/* css other  */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header and nav*/

header {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background);
  background-image: url("../images/tartan3.jpg");
  background-repeat: repeat-x, repeat-y;
  border-bottom: 5px dashed black;
  border-top: 5px solid black;

}

.banner-top {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 30px;
  padding: 33px;
  width: 2000px;
  background: linear-gradient(68deg, #000000 16%, #1c2225 100%);
  border-radius: 7px;
}

h1 {
  text-align: left;
}

.logo {
  font-family: 'Nanum Pen Script', cursive;
  color: white;
  text-decoration: 10px solid maroon underline;
  font-size: 40px;
  font-weight: 700;
  padding: 20px;

}

.logo:hover {
  text-decoration: 10px solid maroon overline underline;

}

nav {
  border: 1px solid black;
  display: flex;
  flex-direction: row;

}

nav li {
  display: inline-block;
  margin: 20px 10px 20px 10px;
  border: 1px solid black;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  color: white;

}

nav a:hover {
  text-decoration: 10px solid maroon underline;

}

ul {
  border: 1px solid black;
}

/* banner section */

section .banner {
  display: flex;
  background-color: black;
  position: relative;

}

.banner h2 {
  font-size: 58px;
  letter-spacing: 0.5px;
  border: 2px solid black;
  padding: 25px;
  margin: 10px;
  width: 660px;
  position: absolute;
  color: white;
  font-weight: bold;
  text-decoration: 10px maroon overline;
  text-transform: capitalize;
  left: 300px;
  top: 400px;
  background-color: rgb(4, 4, 4, 0.7);
  border-radius: 15px;

}

.banner h2:hover {
  transform: translate(-0.25px, 12px);
  transition: ease-in-out 1s;

}

.banner-image {
  width: auto;
  height: 1000px;
  background-image: url("../images/laptop3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;


}

/* About me */